.select {
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  text-align: left;
  cursor: pointer;
  padding: 4px;
  margin: 0;
}

.disabled {
  background-color: rgb(39, 39, 39);
  color: rgb(170, 170, 170);
  border: none;
  border-radius: 20px;
  font-weight: 600;
  padding: 6px;
}
