.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  gap: 4px;
}

.gallery__item {
  height: 300px;
  border-radius: 3px;
}

.galleryContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid black;
}

.image {
  overflow: hidden;
  transition: transform 0.3s ease-in-out; /* Add transition for smooth animation */
}

.image:hover {
  transform: scale(1.6); /* Zoom effect on hover */

  z-index: 1; /* Bring the hovered item to the top */
}

@media (max-width: 594px) {
  .gallery__item {
    height: 200px;
  }
}
@media (max-width: 594px) {
  .gallery__item {
    height: 150px;
  }
}
@media (max-width: 395px) {
  .gallery__item {
    height: 150px;
  }

  .gallery {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
@media (max-width: 395px) {
  .gallery__item {
    height: 120px;
  }
}
