.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}

.infoHeading {
  background-color: black;
  color: white;
}

.ticketContainer {
  display: flex;
  justify-content: center;
  width: auto;
}

.ticket {
  max-width: 1310px;
  /* padding: 0 5%; */
}

.buttonContainer {
  display: flex;
  column-gap: 25px;
}

.button {
  text-decoration: none;
  color: white;
  display: block;
  background-color: black;
  padding: 17px;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.downloadIcon {
  background-image: url(/public/download.png) center/cover no-repeat;
}

.infoContainer {
  display: flex;
  margin-bottom: 50px;
  gap: 50px;
}

.inline {
  display: inline;
}

@media (max-width: 1375px) {
  .infoContainer {
    flex-wrap: wrap;
  }

  .ticket {
    padding: 0 5%;
  }
}

@media (max-width: 594px) {
  .button {
    font-size: 12px;
    padding: 9px;
  }

  .id {
    font-size: 25px;
  }
}
@media (max-width: 395px) {
  .id {
    font-size: 18px;
  }

  .button {
    font-size: 10px;
    padding: 7px;
  }
}
