* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Roboto Condensed", sans-serif;
}

li {
  list-style: none;
}

input,
textarea {
  border: 2px solid black;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: white;
}
