@import "../../keyframes.css";
.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  animation: fade-in-from-top 1s 0.4s backwards;
}

.form__item {
  display: flex;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
}

.textarea {
  resize: none;
  height: 180px;
  border-radius: 3px;
  padding: 2px;
}

.button {
  border: none;
  border-radius: 50px;
  background-color: black;
  color: white;
  padding: 2px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  height: 20px;
  letter-spacing: 0.8px;
  transition: transform 0.2s ease-in-out;
}

.button:hover {
  transform: translateY(-1px);
  transform: scale(1.01);
}
